.App {
  text-align: center;
  font-family: Poppins;
}
.Heading{
  /* font-family: Matahari; */
  font-style: normal;
  font-weight: 700;
  font-size: 4.11vw;
  line-height: 4.7vw;
  color: #161342;
}
.BlueHeading{
  color: #1DACF4;
}
.Description{
  /* font-family: Manrope; */
  font-style: normal;
  font-weight: 500;
  font-size: 1.176vw;
  line-height: 2.35vw;
  /* or 200% */
  display: flex;
  align-items: center;
  /* Style-1/Color-2 (Body) */
  color: #4D4354;
}
.btn-black{
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 color: #ffffff;
 background-color: #000000;
 border-radius: 0.88vw;
 background: linear-gradient(94.21deg, #252424 4.48%, #424242 87.94%);
 

}

